body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: coral;
}
.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin: 10px 0;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.soeger{
    background-color: mediumblue;
    color: wheat;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"] {
    padding: 10px ;
    border-radius: 8px;
    border: 2px solid wheat;
    font-size: 16px;
    width: 100%;
    max-width: 220px;
}
input.soeger {
    background-color: mediumblue;
    color:wheat;

}
input.tilbyder {
    background-color: forestgreen;
    color: wheat;

}
.soeger:hover {
    background-color: mediumblue;
    transform: scale(1.05);
}

.tilbyder{
    background-color: forestgreen;
    color: wheat;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}
.tilbyder:hover {
    background-color: forestgreen;
    transform: scale(1.05);
}

.container {
    text-align: center;
}
select {
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid wheat;
    background-color: forestgreen;
    color: wheat;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
select:focus {
    outline: none;
    box-shadow:  0 0 10px black;
    border-color: forestgreen;
}
label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}